<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.apexchatcrashlytics" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="ApexchatCrashlytics.Android">
		<meta-data android:name="firebase_crashlytics_collection_enabled" android:value="true" />
    <meta-data
      android:name="firebase_performance_logcat_enabled"
      android:value="true" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>